* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header {
  background-color: #fff;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

.logo img {
  width: 150px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav-links li:first-child a {
  color: #49073D;
}

.cta-buttons {
  display: flex;
  gap: 15px;
}

.cta-buttons .btn {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
}

.cta-buttons .doar,
.cta-buttons .patrocinar {
  background-color: #733268;
}

.hero {
  position: relative;
  height: 500px;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 20%;
  right: 20px;
  background-color: #f7b32b;
  padding: 20px;
  border-radius: 10px;
  color: #49073D;
  font-weight: bold;
  font-size: 1.5rem;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* SEÇÃO VOLUNTARIADO */
.voluntariado {
  background-color: #f9f9f9;
  text-align: center;
  font-family: 'Poetsen One', sans-serif;
}

.voluntariado h2 {
  font-size: 2em;
  margin-bottom: 30px;
}

.colunas {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.colunas div {
  flex: 1 1 33%;  
  padding: 30px;
  min-height: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.coluna-desejo-ser-voluntario img {
  position: absolute;
  left: 90%; /* Empurra a imagem para fora da coluna em direção à direita */
  transform: translateX(-50%); /* Move a imagem para o meio, entre as colunas */
  max-width: 230px;
  height: 100%;
}

.coluna-desejo-ser-voluntario,
.coluna-nossa-lojinha {
  background-color: #733268;
  color: #fff;
  position: relative; /* Torna a posição da imagem relativa a esta coluna */
}

.coluna-time-do-bem {
  background-color: #FFB600;
  color: #fff;
}

.coluna h3 {
  font-size: 2.4em;
  font-family: 'Poetsen One', sans-serif;
  font-weight: 400;
}

.coluna {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.paragrafo1-amarelo {
  font-family: 'Caveat', serif;
  color: #FFB600;
  font-size: 35px;
}

.coluna-time-do-bem .paragrafo1-roxo {
  font-family: 'Caveat', serif;
  color: #733268; /* Definindo a cor roxa aqui */
  font-size: 35px;
}

.paragrafo2 {
  font-family: 'Roboto', serif;
  font-weight: 700;
  color: white; /* Cor do parágrafo 2 definida como branco */
}

.coluna button {
  padding: 15px 30px;
  background-color: #fff;
  color: #733268;
  border: none;
  font-size: 1em;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  border-radius: 30px;
}

.coluna-time-do-bem button {
  background-color: #fff;
  color: #FFB600;
}

.coluna-time-do-bem p {
  color: white; /* Aqui, o texto da descrição será branco */
}

.coluna-desejo-ser-voluntario p:nth-child(2) {
  font-size: 1.2em;
  font-weight: bold;
  color: #FFB600;
}

.coluna-nossa-lojinha button {
  background-color: #fff;
  color: #733268;
}
