* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

header {
  background-color: #fff;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.logo img {
  width: 150px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav-links li:first-child a {
  color: #49073D;
}

.cta-buttons {
  display: flex;
  gap: 15px;
}

.cta-buttons .btn {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
}

.cta-buttons .doar,
.cta-buttons .patrocinar {
  background-color: #733268;
}

.hero {
  position: relative;
  height: 500px;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 20%;
  right: 20px;
  background-color: #f7b32b;
  padding: 20px;
  border-radius: 10px;
  color: #49073D;
  font-weight: bold;
  font-size: 1.5rem;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* SEÇÃO VOLUNTARIADO */
.voluntariado {
  background-color: #f9f9f9;
  text-align: center;
}

.voluntariado h2 {
  font-size: 2em;
  margin-bottom: 30px;
}

.colunas {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.coluna {
  flex: 1;  
  padding: 30px;
  min-height: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
}

.coluna-desejo-ser-voluntario {
  background-color: #733268;
  color: #fff;
}

.coluna-time-do-bem {
  background-color: #FFB600;
  color: #733268;
}

.coluna-nossa-lojinha {
  background-color: #733268;
  color: #fff;
}

.coluna h3 {
  font-size: 2.4em;
  font-family: 'Poetsen One', sans-serif;
  font-weight: 400;
  color: white;
}

.coluna-nossa-lojinha .paragrafo1-amarelo{
  font-family: 'Caveat', serif;
  color: #FFB600;
  font-size: 35px;
  margin: 33px 0px 15px 0px;
}

.coluna-desejo-ser-voluntario .paragrafo1-amarelo{
  font-family: 'Caveat', serif;
  color: #FFB600;
  font-size: 35px;
  margin: 0px 0px 10px 0px;
}

.coluna-time-do-bem .paragrafo1-roxo {
  font-family: 'Caveat', serif;
  color: #733268;
  font-size: 35px;
  margin: 10px 0px 10px 0px;
}

.paragrafo2,
#roboto {
  font-family: 'Roboto', sans-serif; 
  color: white;
}

.coluna-time-do-bem button,
.coluna-nossa-lojinha button {
  margin: 0 auto;
  display: block;
}

.colunas button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  width: 230px;
  padding: 10px;
  border-radius: 25px;
  margin-top: 20px;
  font-size: 1.1em;
  cursor: pointer;
  text-align:  center;
}

.colunas button:hover {
  background-color: white;
  color: #FFB600;
  transition: 0.3s;
}

.coluna-nossa-lojinha {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagens-lojinha {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.coluna-desejo-ser-voluntario img {
  position: absolute;
  width: 210px;
  align-items: flex-end;
  margin-top: 105px;
  left: 29%;
  transform: translateX(-50%);
  z-index: 1;
}

/* Seção Sobre Nós */
.sobre-nos {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: #FFB600;
  padding: 40px;
  border-radius: 10px;
}

.conteudo-sobre-nos {
  max-width: 50%;
}

.sobre-nos h2 {
  color: #733268;
  font-size: 36px;
  margin-bottom: 20px;
}

.sobre-nos p {
  font-size: 18px;
  line-height: 1.6;
  color: #fff;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.sobre-nos blockquote {
  font-style: italic;
  color: #6A1B9A;
  font-size: 20px;
  margin-left: 10px;
}

.imagens-sobre-nos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  max-width: 30%;
}

.imagens-sobre-nos img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
